################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/StudentSample/x64/Debug
/.vs/조롱이/v16/Browse.VC.db
/.vs/조롱이/v16/.suo
/.vs/조롱이/v16
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/x64/Debug
/.vs/AR_KGCA/v16/ipch/AutoPCH/368ae06ab10dabbd
/Student/x64/Debug
/StudentSample1/x64/Debug
/output/File/File.tlog
/output/File/vc142.pdb
/output/File/vc142.idb
/output/File/Project1.log
/output/LinkedList_0/LinkedList_0.tlog
/output/LinkedList_0/vc142.pdb
/output/LinkedList_0/vc142.idb
/output/LinkedList_0/Sample.obj
/output/LinkedList_0/LinkedList_0.log
/output/LinkedList_0/LinkedList_0.ilk
/output/LinkedList_0/LinkedList_0.exe.recipe
/output/LinkedList_1/LinkedList_1.tlog
/output/LinkedList_1/vc142.pdb
/output/LinkedList_1/vc142.idb
/output/LinkedList_1/Sample.obj
/output/LinkedList_1/LinkedList_1.log
/output/LinkedList_1/LinkedList_1.ilk
/output/LinkedList_1/LinkedList_1.exe.recipe
/output/LinkedList_1_1/LinkedList_1_1.tlog
/output/StudentSample/StudentSample.tlog
/output/StudentSample1/StudentSample1.tlog
/output
/OperatorSample/x64/Debug
/StudentSample2/x64/Debug
/StudentSample1/Sample.txt
/StudentSample2/Student.txt
/StudentSample21/StudentSample.txt
/StudentSample2_1/Student.txt
/Studen_1/x64/Debug
/StudentSample/Student.txt
/LinkedList/x64/Debug
/StudentSample3/Student.txt
/.vs
/JosephsProblem/x64/Debug/JosephsProblem.tlog
/JosephsProblem/x64/Debug
/CreateDevice/x64/Debug
/Soket_C2/x64/Debug
/AsyncIO/TESTCOPY.zip
/AsyncIO/TESTZIP.zip
/AsyncIO/test.txt
/AsyncIOBlock/TESTCOPY.zip
/AsyncIOBlock/TESTZIP.zip
/Procedure_0/x64/Debug
/Procedure_0/.vs/Procedure_0/v16
