################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/StudentSample/x64/Debug
/.vs/조롱이/v16/Browse.VC.db
/.vs/조롱이/v16/.suo
/.vs/조롱이/v16
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/x64/Debug
/.vs/AR_KGCA/v16/ipch/AutoPCH/368ae06ab10dabbd
